<!DOCTYPE html>
<html>
  <head>
    <title>eShopping Cart</title>
  </head>
  <body>
    <h1 id="header">Welcome, <%= user.first_name.charAt(0).toUpperCase() + user.first_name.slice(1) %></h1>
    <button id="shop-button" onclick="window.location.href='/users/<%= user.id %>/dashboard';">
      Dashboard
    </button>
    <button id="shop-button" onclick="window.location.href='/users/<%= user.id %>/shop';">
      Shop
    </button>
    <button id="orders-button" onclick="window.location.href='/users/<%= user.id %>/orders';">
      Orders
    </button>
    <button id="logout-button" onclick="window.location.href='/users/<%= user.id %>/logout';">
      Logout
    </button>
    <% if (cart_products.length < 1) { %>
      <ul>
        <li>Your cart is empty</li>
      </ul>
    <% } else { %>
      <ul>
        <% cart_products.forEach(product => { %>
          <li>
            <%= product.name %>
            </br>
            Quantity: <%= product.quantity %>
            </br>
            Total: <%= product.total %>
            </br>
            <form action="/users/<%= user.id %>/cart/<%= cart_id %>/products?product_id=<%= product.product_id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Remove From Cart</button>
            </form>
          </li>
        <% }); %>
      </ul>
      <h3>Total: <%= total %></h3>
      <form action="/users/<%= user.id %>/cart/<%= cart_id %>/checkout" method="post">
        <button type="submit">Checkout</button>
      </form>
    <% } %>
  </body>
</html>