<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eShopping Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User dashboard, the landing page that a user sees once they login where they can navigate to other pages such as the eShopping shop, their cart or their orders.">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Shrikhand&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <img id="logo-header" src="/images/shopping-cart-shadow.png" alt="logo">
      <h1 id="header-title"><span class="e">e</span>Shopping</h1>
    </header>
    <main>
      <h1 id="personal-greeting">Welcome, <%= user.first_name.charAt(0).toUpperCase() + user.first_name.slice(1) %></h1>
      <% if (messages.orders_products_added) { %>
        <ul class="messages">
          <li><%= messages.orders_products_added %></li>
        </ul>
      <% } %>
      <p id="greeting-prompt">What would you like to do?</p>
      <div class="buttons">
        <a id="shop-button" href='/users/<%= user.id %>/shop';">
          Shop
        </a>
        <a id="cart-button" href='/users/<%= user.id %>/cart';">
          Cart
        </a>
        <a id="orders-button" href='/users/<%= user.id %>/orders';">
          Orders
        </a>
        <a id="logout-button" href='/users/<%= user.id %>/logout';">
          Logout
        </a>
      </div>
    </main>
  </body>
</html>