<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eShopping Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User orders, where a user can see the the orders they've placed after checking out from their cart page.">
    <link rel="stylesheet" type="text/css" href="/css/orders.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Shrikhand&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <img id="logo-header" src="/images/shopping-cart-shadow.png" alt="logo">
      <h1 id="header-title"><span class="e">e</span>Shopping</h1>
    </header>
    <main>
      <h1 id="personal-greeting">Welcome, <%= user.first_name.charAt(0).toUpperCase() + user.first_name.slice(1) %></h1>
      <div class="buttons">
        <button id="dashboard-button" onclick="window.location.href='/users/<%= user.id %>/dashboard';">
          Dashboard
        </button>
        <button id="shop-button" onclick="window.location.href='/users/<%= user.id %>/shop';">
          Shop
        </button>
        <button id="cart-button" onclick="window.location.href='/users/<%= user.id %>/cart';">
          Cart
        </button>
        <button id="logout-button" onclick="window.location.href='/users/<%= user.id %>/logout';">
          Logout
        </button>
      </div>
      <% if (messages.order_deleted) { %>
        <ul class="messages">
          <li><%= messages.order_deleted %></li>
        </ul>
      <% } %>
      <% if (order_products.length < 1) { %>
        <ul class="messages">
          <li>You don't have any orders</li>
        </ul>
      <% } else { %>
        <% orders.forEach(order => { %>
          <ul class="orders">
            <li class="order-number">Order #: <%= order.id %></li>
            <% const filtered_order_products = order_products.filter(o => o.order_id === order.id) %>
            <% filtered_order_products.forEach(product => { %>
              <li>
                <b><%= product.name %></b>
                </br>
                Quantity: <%= product.quantity %>
                </br>
                Total: <%= product.total %>
                </br>
              </li>
            <% }); %>
            <li class="total">Total: 
              $<%= filtered_order_products.reduce((acc, {total}) => acc + parseFloat(total.replace(/[^0-9.-]+/g,"")), 0).toFixed(2).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %>
            </li>
          </ul>
          <form action="/orders/<%= order.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="cancel-order" type="submit">Cancel Order</button>
          </form>
          </br>
        <% }); %>
        
      <% } %>
    </main>
  </body>
</html>